---
import ReactJs from '../components/react/ReactJs';
import ReactTs from '../components/react/ReactTs';
import Svelte from '../components/Svelte.svelte';
---

<div class="bg">
	<ReactJs />
	<ReactTs />
	<Svelte msg={'hellooooo'} />
</div>

<style lang="scss">
	.bg {
		&:hover {
			background: lightblue;
		}
	}
</style>
