---
import ReactJs from '../components/react/ReactJs';
import ReactTs from '../components/react/ReactTs';
import Svelte from '../components/Svelte.svelte';
---

<div class="hover:bg-red-500">
	<ReactJs />
	<ReactTs client:load />
	<Svelte msg={'hellooooo'} client:load />
</div>
