---
import ReactJs from '../components/ReactJs';
import ReactTs from '../components/ReactTs';
import Svelte from '../components/Svelte.svelte';
---

<div>
	<ReactJs />
	<ReactTs />
	<Svelte msg={'hellooooo'} />
</div>

<style></style>
